{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>🦀 Welcome to CrustaBlog 🦀</h1>
        <img src="{{ asset('images/coconut_crab.jpg') }}">
    </div>
{% endblock %}
